@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #5779E2, #263563);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #161e3883;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #444C63;
    text-align: center;
    text-shadow: 1px 1px 2px #2c3241e1;
}

h2 {
    color: #435EB0;
}


p {
    text-align: justify;
}