@charset "UTF-8";

body {
    background-color: rgb(124, 76, 170);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
}

h2 {
    color: rgb(203, 168, 235);
}

p {
    text-align: justify;
}

a {
    color: white;
}