body {
    background-color: rgb(105, 45, 129);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.472);
}
div {
    text-align: center;
    padding: 9px;
}

div#periodo {
    font-size: medium;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}